.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'EkkamaiStandard';
}

.login-box {
    width: 30%;
    border: 1.5px solid #003678;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login-header {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.login-input-container {
    width: 85%;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login-input-header {
    margin-top: 10px;
    font-size: 18px;
}

.login-input {
    height: 25px;
    width: 100%;
    font-size: 18px;
    border: 1.5px solid black;
    border-radius: 3px;
}

.admin-export-button {
    width: 20%;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #003678;
    border: 1.5px solid black;
    color: white;   
    font-family: 'EkkamaiStandard';
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.admin-export-button:hover {
    background-color: #00BFFF;	 
}

.admin-export-button:active {
    background-color: #4169E1;
}

.admin-login-button {
    width: 20%;
    height: 35px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #003678;
    border: 1.5px solid black;
    color: white;   
    font-family: 'EkkamaiStandard';
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.admin-login-button:hover {
    background-color: #00BFFF;	 
}

.admin-login-button:active {
    background-color: #4169E1;
}

.admin-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'EkkamaiStandard';
}

.admin-header {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

.admin-table {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
    border: 1.5px solid black;
}

.admin-table-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-bottom: 1.5px solid black;
    background-color: #003678;
    color: white;
    align-items: center;
}

.admin-table-header-name {
    width: 15%;
    margin-left: 1%;
}

.admin-table-header-email {
    width: 15%;
    margin-left: 1%;
}

.admin-table-header-phone {
    width: 10%;
    margin-left: 1%;
}

.admin-table-header-department {
    width: 7%;
    margin-left: 1%;
    text-align: center;
}

.admin-table-header-workplace {
    width: 7%;
    margin-left: 1%;
    text-align: center;
}

.admin-table-header-product {
    width: 30%;
    margin-left: 1%;
    text-align: center;
}

.admin-table-header-payment {
    width: 9%;
    margin-left: 1%;
}

.admin-table-row {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    border-bottom: 1.5px solid black;
}

.admin-table-row-name {
    width: 15%;
    margin-left: 1%;
}

.admin-table-row-email {
    width: 15%;
    margin-left: 1%;
}

.admin-table-row-phone {
    width: 10%;
    margin-left: 1%;
}

.admin-table-row-department {
    width: 7%;
    margin-left: 1%;
    text-align: center;
}

.admin-table-row-workplace {
    width: 7%;
    margin-left: 1%;
    text-align: center;
}

.admin-table-row-product {
    width: 30%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.admin-table-row-payment {
    width: 9%;
    margin-left: 1%;
}

.admin-table-productlist-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}

.admin-table-productlist-img {
    width: 20%;
    height: 60px; 
}

.admin-table-productlist-name {
    width: 60%;
    font-size: 14px;
    text-align: center;
}

.admin-table-productlist-amount {
    width: 20%;
    font-size: 14px;
    text-align: center;
}