.blog-wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'RSU';
    align-items: center;
}

.blog-content {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.blog-content-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.blog-content-img-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-content-img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

@media (min-width: 24em){
    .blog-content-header {
        font-size: 16px;
        color: black;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .blog-content-text {
        font-size: 14px;
        color: black;
        margin-top: 10px;
        line-height: 1.5;
    }
}

@media (min-width: 64em){
    .blog-content-header {
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .blog-content-text {
        font-size: 16px;
        color: black;
        margin-top: 10px;
        line-height: 1.5;
    }
}

@media (min-width: 72em){
    .blog-content-header {
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    .blog-content-text {
        font-size: 18px;
        color: black;
        margin-top: 10px;
        line-height: 1.5;
    }
}
