.checkout-container {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: 'RSU';
    background: #EEEEEE;
}

.checkout-box {
    margin-top: 15px;
    width: 98%;
    align-self: center;
    display: flex;
    flex-direction: row;
    border: 0px;
    background: #EEEEEE; 
    margin-bottom: 40px;
}

.checkout-form {
    width: 59%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 30px;
    background: white;
}

.checkout-form-wrapper {
    width: 96%;
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.checkout-input-row {
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.checkout-input-wrapper {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}

.checkout-input-header {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
}

.checkout-input {
    width: 100%;
    height: 25px;
    font-size: 18px;
    border: 1px solid #CCC;
    border-radius: 3px;
    padding-left: 1%;
    font-weight: lighter;
}

.checkout-shopping-form {
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.checkout-shopping-row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 110px;
    align-items: center;
    border-bottom: 1px solid #CCC;
    margin-top: 10px;
    padding-bottom: 10px;
}

.checkout-shopping-image{
    width: 25%;
    height: 95%;
    margin-left: 2%;
}

.checkout-shopping-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin-left: 3%;
}

.checkout-shopping-name{
    font-size: 20px;
    line-height: 1.5;
}

.checkout-shopping-price {
    font-size: 20px;
    color: #7FD0DA;
    line-height: 1.5;
}

.checkout-shopping-amount{
    font-size: 20px;
    line-height: 1.5;
}

.checkout-total-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 40%;
    align-self: flex-end;
    margin-right: 5%;
}

.checkout-total-header {
    font-size: 20px;
    font-weight: bold;
}

.checkout-total-text {
    font-size: 20px;
    color: #7FD0DA;
    font-weight: bold;
    margin-left: auto;
}

.checkout-select {
    width: 100%;
    font-size: 18px;
}

.checkout-confirm-button-wrapper {
    width: 35%;
    margin-right: 5%;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.checkout-payment-box {
    width: 98%;
    align-self: center;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    margin-bottom: 50px;
}

.checkout-payment-content {
    width: 94%;
    background: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.checkout-payment-detail {
    width: 85%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.checkout-payment-text-row {
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
}

.previewComponent {
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.fileInput {
    border-bottom: 4px solid lightgray;
    border-right: 4px solid lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    background: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
}
  
.imgPreview {
    text-align: center;
    height: 95%;
    width: 65%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    margin-left: 10%;
}

.imgPreview img{
    width: 100%;
    height: 100%;
}

@media (min-width: 24em){
    .checkout-form-header {
        align-self: flex-start;
        margin-left: 3%;
        margin-top: 20px;
        font-size: 20px;
        height: 30px;
        font-weight: bold;
        color: #13304F;
        background: #7FD0DA;
        border-radius: 4px;
        line-height: 30px;
        vertical-align: middle;
        padding-left: 2%;
        padding-right: 2%;
    }
    .checkout-button-wrapper {
        width: 60%;
        margin-right: 5%;
        margin-top: 15px;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        margin-right: 5%;
    }
    .checkout-confirm-button {
        border: 0px;
        border-radius: 5px;
        background: #7FD0DA;
        color: #13304F;
        width: 100%;
        height: 40px;
        font-size: 20px;
        font-family: 'RSU';
        line-height: 40px;
        vertical-align: middle;
    }
    .checkout-payment-text-group {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5px;
    }
    .checkout-payment-text-header {
        width: 35%;
        font-size: 18px;
        color: #13304F;
    }
    .checkout-payment-text {
        width: 65%;
        font-size: 18px;
        color: #13304F;
    }
    .checkout-payment-img {
        width: 300px;
        height: 120px;
    }
}

@media (min-width: 64em){
    .checkout-form-header {
        align-self: flex-start;
        margin-left: 3%;
        margin-top: 20px;
        font-size: 20px;
        height: 30px;
        font-weight: bold;
        color: #13304F;
        background: #7FD0DA;
        border-radius: 4px;
        line-height: 30px;
        vertical-align: middle;
        padding-left: 2%;
        padding-right: 2%;
    }
    .checkout-button-wrapper {
        width: 50%;
        margin-right: 5%;
        margin-top: 15px;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        margin-right: 5%;
    }
    .checkout-confirm-button {
        border: 0px;
        border-radius: 5px;
        background: #7FD0DA;
        color: #13304F;
        width: 100%;
        height: 40px;
        font-size: 20px;
        font-family: 'RSU';
        line-height: 40px;
        vertical-align: middle;
    }
    .checkout-payment-text-group {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5px;
    }
    .checkout-payment-text-header {
        width: 35%;
        font-size: 20px;
        color: #13304F;
    }
    .checkout-payment-text {
        width: 65%;
        font-size: 20px;
        color: #13304F;
    }
    .checkout-payment-img {
        width: 300px;
        height: 120px;
    }
}

@media (min-width: 72em){
    .checkout-form-header {
        align-self: flex-start;
        margin-left: 3%;
        margin-top: 20px;
        font-size: 24px;
        height: 45px;
        font-weight: bold;
        color: #13304F;
        background: #7FD0DA;
        border-radius: 4px;
        line-height: 45px;
        vertical-align: middle;
        padding-left: 2%;
        padding-right: 2%;
    }
    .checkout-button-wrapper {
        width: 40%;
        margin-right: 5%;
        margin-top: 15px;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        margin-right: 5%;
    }
    .checkout-confirm-button {
        border: 0px;
        border-radius: 5px;
        background: #7FD0DA;
        color: #13304F;
        width: 100%;
        height: 40px;
        font-size: 24px;
        font-family: 'RSU';
        line-height: 40px;
        vertical-align: middle;
    }
    .checkout-payment-text-group {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 15px;
    }
    .checkout-payment-text-header {
        width: 35%;
        font-size: 24px;
        color: #13304F;
    }
    .checkout-payment-text {
        width: 65%;
        font-size: 24px;
        color: #13304F;
    }
    .checkout-payment-img {
        width: 400px;
        height: 150px;
    }
}