.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 25px solid #EEEEEE;
}

.footer-bottom {
    width: 100%;
    height: 50px;
    background: #13304F;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-bottom-text {
    font-size: 20px;
    margin-top: 3px;
}

.footer-content {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #7FD0DA;
}

.footer-content-top {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.footer-content-top-left {
    width: 21%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.footer-content-top-center {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.footer-content-top-right {
    width: 13%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.footer-content-group {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.footer-logo-img {
    width: 30px;
    height: 30px;
    margin-right: 3%;
}

.footer-content-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.footer-triangle-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer-triangle-left {
    width: 0;
    height: 0;
    border-top: 150px solid white;
    border-right: 50vw solid transparent;
}

.footer-triangle-right {
    width: 0;
    height: 0;
    border-top: 150px solid white;
    border-left: 50vw solid transparent;
}

@media (min-width: 24em){
    .footer-content-header {
        font-size: 16px;
        color: #003678;
        line-height: 1.5;
        margin-top: 15px;
    }
    
    .footer-content-text {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 1.5;
        margin-top: 10px;
    }

    .footer-logo-img {
        width: 25px;
        height: 25px;
        margin-right: 5%;
    }
}

@media (min-width: 64em){
    .footer-content-header {
        font-size: 18px;
        color: #003678;
        line-height: 1.5;
        margin-top: 15px;
    }
    
    .footer-content-text {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 1.5;
        margin-top: 10px;
    }

    .footer-logo-img {
        width: 25px;
        height: 25px;
        margin-right: 5%;
    }
}

@media (min-width: 72em){
    .footer-content-header {
        font-size: 20px;
        color: #003678;
        line-height: 1.5;
        margin-top: 15px;
    }
    
    .footer-content-text {
        font-size: 16px;
        color: #FFFFFF;
        line-height: 1.5;
        margin-top: 10px;
    }

    .footer-logo-img {
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }
}