.product-header-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: 'RSU';
    border-bottom: 3px solid #EEEEEE;
    height: 120px;
}

.product-header-logo-wrapper {
    width: 8%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-header-content-wrapper {
    width: 90%;
    margin-right: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-header-top {
    display: flex;
    flex-direction: row;
    background: white;
    height: 45px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 30px;
}

.product-top-logo {
    margin-right: 0.5%;
    width: 30px;
    height: 20px;
    margin-bottom: 2px;
}

.product-top-text {
    font-size: 16px;
    margin-right: 2%;
    color: #13304F;
}

.product-top-wall {
    font-size: 16px;
    margin-right: 1%;
    color: #13304F;
}

.product-top-last-text {
    font-size: 16px;
    height: 20px;
    color: #13304F;
    margin-right: 5%;
    vertical-align: middle;
    white-space: nowrap;
}

.product-top-last-text-button {
    font-size: 16px;
    width: auto;
    height: 20px;
    color: #13304F;
    margin-right: 1%;
    background: white;
    border: 0;
    font-family: 'RSU';
    vertical-align: middle;
    margin-top: -1px;
    white-space: nowrap;
}

.product-header-center {
    display: flex;
    flex-direction: row;
    background: white;
    height: 65px;
    align-items: center;
    justify-content: flex-end;
}

.product-dummy {
    width: 35%;
}

.product-search-input {
    height: 35px;
    width: 28%;
    border: 1px solid #A9A9A9;
    border-radius: 3px; 
    -webkit-box-shadow:inset 0 0 4px #CCC;
       -moz-box-shadow:inset 0 0 4px #CCC;
            box-shadow:inset 0 0 4px #CCC;
    font-size: 16px;
    margin-right: 3%;
}

.product-header-sub-logo {
    width: 100%;
    height: 100%;
}

.product-header-sub-logo:hover {
    cursor: pointer;
}

.product-header-sub-logo:focus {
    cursor: pointer;
}

.product-header-sub-count {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    border: 0px;
    border-radius: 50%;
    background: #FF4500;
    color: white;
    margin-left: -35%;
    margin-bottom: 45%;
    font-size: 17px;
    text-align: center;
}

@media (min-width: 24em){
    .product-header-logo {
        width: 65%;
        height: 70%;
    }
    .product-header-text {
        margin-right: 3%;
        font-size: 22px;
        color: #13304F;
    }
    .product-header-text-active {
        margin-right: 3%;
        font-size: 22px;
        color: #7FD0DA;
    }
    .product-header-sub-logo-wrapper {
        margin-right: 2%;
        width: 5%;
        height: 60%;
        display: flex;
        flex-direction: row;
    }
    .product-top-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1%;
    }
    .product-header-logo-img {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 64em){
    .product-header-logo {
        width: 65%;
        height: 70%;
    }
    .product-header-text {
        margin-right: 3%;
        font-size: 24px;
        color: #13304F;
    }
    .product-header-text-active {
        margin-right: 3%;
        font-size: 24px;
        color: #7FD0DA;
    }
    .product-header-sub-logo-wrapper {
        margin-right: 2%;
        width: 5%;
        height: 60%;
        display: flex;
        flex-direction: row;
    }
    .product-top-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1%;
    }
    .product-header-logo-img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 72em){
    .product-header-logo {
        width: 65%;
        height: 80%;
    }
    .product-header-text {
        margin-right: 5%;
        font-size: 26px;
        color: #13304F;
    }
    .product-header-text-active {
        margin-right: 5%;
        font-size: 26px;
        color: #7FD0DA;
    }
    .product-header-sub-logo-wrapper {
        margin-right: 2%;
        width: 3%;
        height: 60%;
        display: flex;
        flex-direction: row;
    }
    .product-top-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1%;
    }
    .product-header-logo-img {
        width: 95px;
        height: 95px;
    }
}