.history-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 150px;
    margin-top: 30px;
    background: white;
    border: 2px solid #A9A9A9;
    border-radius: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

.export-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-top: 20px; 
}

.table-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 90%;
    margin-top: 40px; 
    border-top: 2px solid #c3c3c3;
    border-left: 2px solid #c3c3c3;
    border-right: 2px solid #c3c3c3;
}

.table-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #c3c3c3;
    background: #00ba74;
    align-items: center;
}

.table-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: #f9f9f9;
    border-bottom: 2px solid #c3c3c3;
    align-items: center;
}

.table-header-name{
    width: 19%;
    margin-left: 1%;
    font-size: 14px;
    color: #f9f9f9;
}

.table-header-area{
    width: 10%;
    margin-right: 2.5%;
    font-size: 14px;
    color: #f9f9f9;
}

.table-header-data{
    width: 5%;
    font-size: 14px;
    color: #f9f9f9;
    text-align: center
}

.table-header-date{
    width: 20%;
    margin-left: 2.5%;
    font-size: 14px;
    color: #f9f9f9;
}

.table-row-name{
    width: 19%;
    margin-left: 1%;
    font-size: 14px;
    color: #222222;
}

.table-row-area{
    width: 10%;
    margin-right: 2.5%;
    font-size: 14px;
    color: #222222;
}

.table-row-data{
    width: 5%;
    font-size: 14px;
    color: #222222;
    text-align: center
}

.table-row-date{
    width: 20%;
    margin-left: 2.5%;
    font-size: 14px;
    color: #222222;
}

.export-button{
    width: 10%;
    height: 40px;
    margin-left: 3%;
    font-size: 75%;
    background-color: #f9f9f9;
    border: 1.5px solid #808080;
}

.time-button{
    width: 7%;
    height: 40px;
    margin-left: 1%;
    font-size: 75%;
    background-color: #f9f9f9;
    border: 1.5px solid #808080;
}

.module-select{
    width: 25%;
    font-size: 75%;
}

.date-text{
    margin-left: 2.5%;
    font-size: 100%;
}

.date-picker{
    font-size: 80%;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 5px;
    height: 30px;
}

.date-picker-wrapper{
    margin-left: 2%;
}