.main-container {
    width: 100%;
    font-family: 'RSU';
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-header {
    margin-left: 5%;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}

.main-all-banner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 61px;
}

.main-content-solution {
    width: 100%;
    height: 300px;
    background: #13304F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main-content-solution-header {
    align-self: flex-start;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-left: 5%;
    margin-top: 20px;
}

.main-content-solution-text {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.main-banner-opacity {
    height: 0;
}

.main-banner-img {
    width: 100%;
    height: 100%;
}

.main-header-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    border-top: 2px solid white;
    width: 100%;
}

.main-header-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.main-content-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #EEEEEE;
}

.main-content-blog-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    background: #EEEEEE;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-content-blog-left {
    width: 67%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
}

.main-content-blog-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7FD0DA;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 15px 4px rgba(170,170,170,1);
    -moz-box-shadow: 2px 2px 15px 4px rgba(170,170,170,1);
    box-shadow: 2px 2px 15px 4px rgba(170,170,170,1);
}

.main-content-box-first {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
    margin-bottom: 20px;
}

.main-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: white;
}

.main-content-box-img-wrapper:hover .main-content-box-img {
    transform: scale(1.05);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.main-content-box-img {
    width: 100%;
    height: 100%;
}

.main-content-box-img-img {
    width: 100%;
    height: 100%;
}

.main-content-box-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-content-box-nav-wrapper-right {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 10px;
    align-self: flex-end;
    margin-right: 15px;
}

.main-content-box-nav-wrapper-left {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 15px;
}

.main-content-box-nav-right {
    color: #7FD0DA;
    margin-right: 5px;
    white-space: nowrap;
}

.main-content-box-nav-icon {
    font-size: 12px;
    color: #7FD0DA;
    margin-top: 4px;
}

.main-content-box-nav-left {
    color: #7FD0DA;
    margin-left: 5px;
    white-space: nowrap;
}

.main-content-question-header {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.main-content-question-text {
    font-size: 17px;
    color: white;
    margin-top: 10px;
}

.main-content-question-input {
    font-size: 15px;
    border-radius: 5px;
    border: 0px;
    padding-left: 1%;
    width: 90%;
    height: 28px;
    margin-top: 10px;
}

.main-content-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
}

.main-content-service-header {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.main-content-service-header-text-blue {
    margin-right: 3%;
    font-size: 65px;
    color: #13304F;
}

.main-content-service-header-text-sky {
    font-size: 65px;
    color: #7FD0DA;
}

.main-content-service-text {
    font-size: 18px;
    color: #13304F;
    margin-top: 10px;
}

.main-content-service-tab:hover {
    background: #7FD0DA;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.main-content-service-nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 35px;
    margin-top: 20px;
}

.main-content-service-img {
    width: 100%;
    height: 100%;
}

.main-content-service-slide {
    width: 6%;
    height: 100%;
    margin-left: -6%;
    background-color:rgba(127, 208, 218, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.main-content-service-slide:hover {
    background-color: rgba(148, 232, 243, 0.5);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-content-service-slide-toggle {
    width: 45%;
    height: 100%;
    margin-left: -45%;
    background-color:rgba(127, 208, 218, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-content-service-slide-wrapper {
    width: 12%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.main-content-service-slide-wrapper:hover { 
    background-color: rgba(148, 232, 243, 0.5);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-content-service-icon {
    font-size: 25px;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.main-content-service-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 4%;
    margin-right: 4%;
}

.main-content-service-detail-button-wrapper {
    width: 50%;
    margin-top: 30px;
}

.main-content-service-detail-button {
    width: 100%;
    height: 45px;
    font-size: 22px;
    color: white;
    background: #7FD0DA;
    line-height: 45px;
    vertical-align: middle;
    border: 0;
    border-radius: 20px;
    font-family: 'RSU';
    white-space: nowrap;
}

.main-content-service-detail-button:hover {
    background: rgb(118, 196, 206);
    box-shadow: 0 0 10px rgb(118, 196, 206);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.main-content-airmask {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 25px solid #EEEEEE;
    width: 100%;
    background: white;
}

.main-content-airmask-header {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.main-content-airmask-header-text-blue {
    font-size: 65px;
    color: #13304F;
}

.main-content-airmask-header-text-sky {
    font-size: 65px;
    color: #7FD0DA;
}

.main-content-airmask-text {
    font-size: 18px;
    color: #13304F;
    margin-top: 10px;
}

.main-content-airmask-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.main-content-airmask-detail {
    width: 40%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-airmask-detail-wrapper, .main-content-airmask-detail-wrapper-delay-2, .main-content-airmask-detail-wrapper-delay-4 , .main-content-airmask-detail-wrapper-delay-6 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: cloud-loop;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    cursor: pointer;
}

.main-content-airmask-detail-wrapper-delay-2 {
    animation-delay: 0.2s;
}

.main-content-airmask-detail-wrapper-delay-4 {
    animation-delay: 0.4s;
}

.main-content-airmask-detail-wrapper-delay-6 {
    animation-delay: 0.6s;
}

@-webkit-keyframes cloud-loop {
    0% {
        -webkit-transform: translate(0, 15px);
        transform: translate(0, 15px);
    }
    100%{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.main-content-airmask-detail-text {
    font-size: 17px;
    color: #AAAAAA;
}

.main-content-airmask-detail-circle {
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    background: #7FD0DA;
    margin-top: 15px;
}

.main-content-airmask-detail-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #7FD0DA;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.main-content-airmask-img {
    width: 30%;
    height: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

.main-content-airmask-img:hover {
    transform: scale(1.25);
}

.main-content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 25px solid #EEEEEE;
    width: 100%;
    background: white;
}

.main-content-footer-header {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.main-content-footer-header-text-blue {
    font-size: 50px;
    color: #13304F;
}

.main-content-footer-header-text-sky {
    font-size: 50px;
    color: #7FD0DA;
}

.main-content-footer-text {
    font-size: 18px;
    color: #13304F;
    margin-top: 10px;
}

.main-content-footer-img {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

@media (min-width: 24em){
    .main-banner-wrapper {
        width: 60%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 3%;
        height: 175px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-wrapper {
        width: 33%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner {
        width: 100%;
        height: 85px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-last {
        width: 100%;
        height: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .triangle-left {
        width: 0;
        height: 0;
        margin-top: -91px;
        border-bottom: 75px solid #CCCCCC;
        border-right: 49vw solid transparent;
        position: relative;
    }
    
    .triangle-out-left {
        width: 0;
        height: 0;
        margin-top: -48px;
        border-bottom: 50px solid white;
        border-right: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-right {
        width: 0;
        height: 0;
        margin-top: -75px;
        float: right;
        border-bottom: 75px solid #CCCCCC;
        border-left: 49vw solid transparent;
        position: relative;
    }
    
    .triangle-out-right {
        width: 0;
        height: 0;
        margin-top: -50px;
        float: right;
        border-bottom: 50px solid white;
        border-left: 50vw solid transparent;
        position: relative;
    }

    .main-banner-button-group {
        width: 96%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -110px;
    }

    .main-banner-button {
        font-size: 30px;
        width: 50px;
        height: 50px;
        color: #13304F;
    }

    .main-banner-button:focus {
        cursor: pointer;
    }

    .main-banner-button:hover {
        cursor: pointer;
    }

    .main-banner-circle-group {
        width: 8%;
        height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
    }

    .main-banner-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #BBB;
    }

    .main-banner-circle-active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #7FD0DA;
    }

    .main-video-player {
        width: 80%;
        height: auto;
    }

    .main-content-box-header {
        font-size: 17px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        color: #13304F;
    }
    
    .main-content-box-text {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        color: #13304F;
    }

    .main-content-result-container {
        width: 75%;
        height: 15%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        margin-top: 10%;
        border: 1px solid rgba(130,199,204,1);
        -webkit-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
        -moz-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
        box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
    }
    
    .main-content-result-text {
        font-size: 17px;
        color: #7FD0DA;
        font-weight: bold;
        line-height: 1.2;
    }

    .main-content-service-box {
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 320px;
        margin-bottom: 30px;
    }

    .main-content-service-img-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 320px;
    }

    .main-content-box-img-wrapper {
        width: 50%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .main-content-service-tab {
        line-height: 35px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
        color: #13304F;
        background: white;
        font-family: 'RSU';
        width: 20%;
        border: 0;
    }

    .main-header-text-first {
        font-size: 48px;
        color: #13304F;
        margin-right: 1%;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-second {
        font-size: 48px;
        color: #7FD0DA;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-content {
        font-size: 14px;
        color: #13304F;
        margin-bottom: 5px;
    }

    .main-content-service-slide-text {
        font-size: 11px;
        color: white;
        cursor: pointer;
    }

    .main-content-service-detail-header {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        margin-bottom: 15px;
    }

    .main-content-service-detail-text {
        font-size: 13px;
        line-height: 1.3;
        color: white;
        white-space: pre-wrap;
    }
}

@media (min-width: 64em){
    .main-banner-wrapper {
        width: 60%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 2%;
        height: 195px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-wrapper {
        width: 33%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner {
        width: 100%;
        height: 95px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-last {
        width: 100%;
        height: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .triangle-left {
        width: 0;
        height: 0;
        margin-top: -101px;
        border-bottom: 85px solid #CCCCCC;
        border-right: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-out-left {
        width: 0;
        height: 0;
        margin-top: -54px;
        border-bottom: 55px solid white;
        border-right: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-right {
        width: 0;
        height: 0;
        margin-top: -85px;
        float: right;
        border-bottom: 85px solid #CCCCCC;
        border-left: 49vw solid transparent;
        position: relative;
    }
    
    .triangle-out-right {
        width: 0;
        height: 0;
        margin-top: -54px;
        float: right;
        border-bottom: 55px solid white;
        border-left: 50vw solid transparent;
        position: relative;
    }

    .main-banner-button-group {
        width: 96%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -120px;
    }

    .main-banner-button {
        font-size: 30px;
        width: 50px;
        height: 50px;
        color: #13304F;
    }

    .main-banner-button:focus {
        cursor: pointer;
    }

    .main-banner-button:hover {
        cursor: pointer;
    }

    .main-banner-circle-group {
        width: 8%;
        height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }

    .main-banner-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #BBB;
    }

    .main-banner-circle-active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #7FD0DA;
    }

    .main-video-player {
        width: 70%;
        height: auto;
    }

    .main-content-box-header {
        font-size: 19px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        color: #13304F;
    }
    
    .main-content-box-text {
        font-size: 14px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        color: #13304F;
    }

    .main-content-result-container {
        width: 80%;
        height: 15%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        margin-top: 10%;
        border: 1px solid rgba(130,199,204,1);;
        -webkit-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);;
        -moz-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);;
        box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);;
    }
    
    .main-content-result-text {
        font-size: 18px;
        color: #7FD0DA;
        font-weight: bold;
        line-height: 1.3;
    }

    .main-content-service-box {
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 350px;
        margin-bottom: 30px;
    }

    .main-content-service-img-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 350px;
    }

    .main-content-box-img-wrapper {
        width: 50%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .main-content-service-tab {
        line-height: 35px;
        vertical-align: middle;
        text-align: center;
        font-size: 11px;
        color: #13304F;
        background: white;
        font-family: 'RSU';
        width: 20%;
        border: 0;
    }

    .main-header-text-first {
        font-size: 54px;
        color: #13304F;
        margin-right: 1%;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-second {
        font-size: 54px;
        color: #7FD0DA;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-content {
        font-size: 16px;
        color: #13304F;
        margin-bottom: 5px;
    }

    .main-content-service-slide-text {
        font-size: 11px;
        color: white;
        cursor: pointer;
    }

    .main-content-service-detail-header {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        margin-bottom: 15px;
    }

    .main-content-service-detail-text {
        font-size: 14px;
        line-height: 1.3;
        color: white;
        white-space: pre-wrap;
    }
}



@media (min-width: 72em){
    .main-banner-wrapper {
        width: 60%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 2%;
        height: 275px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-wrapper {
        width: 33%;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner {
        width: 100%;
        height: 135px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-sub-banner-last {
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .triangle-left {
        width: 0;
        height: 0;
        margin-top: -136px;
        border-bottom: 120px solid #CCCCCC;
        border-right: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-out-left {
        width: 0;
        height: 0;
        margin-top: -80px;
        border-bottom: 80px solid white;
        border-right: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-right {
        width: 0;
        height: 0;
        margin-top: -120px;
        float: right;
        border-bottom: 120px solid #CCCCCC;
        border-left: 50vw solid transparent;
        position: relative;
    }
    
    .triangle-out-right {
        width: 0;
        height: 0;
        margin-top: -80px;
        float: right;
        border-bottom: 80px solid white;
        border-left: 50vw solid transparent;
        position: relative;
    }

    .main-banner-button-group {
        width: 98%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -160px;
    }

    .main-banner-button {
        font-size: 30px;
        width: 50px;
        height: 50px;
        color: #13304F;
    }

    .main-banner-button:focus {
        cursor: pointer;
    }

    .main-banner-button:hover {
        cursor: pointer;
    }

    .main-banner-circle-group {
        width: 7%;
        height: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }

    .main-banner-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #BBB;
    }

    .main-banner-circle-active {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background: #7FD0DA;
    }

    .main-video-player {
        width: 40%;
        height: auto;
    }

    .main-content-box-header {
        font-size: 24px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        color: #13304F;
    }
    
    .main-content-box-text {
        font-size: 17px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        color: #13304F;
    }

    .main-content-result-container {
        width: 85%;
        height: 20%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        margin-top: 10%;
        border: 1px solid rgba(130,199,204,1);
        -webkit-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
        -moz-box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
        box-shadow: 2px 2px 15px 1px rgba(130,199,204,1);
    }
    
    .main-content-result-text {
        font-size: 22px;
        color: #7FD0DA;
        font-weight: bold;
        line-height: 1.5;
    }

    .main-content-service-box {
        display: flex;
        flex-direction: row;
        width: 85%;
        height: 450px;
        margin-bottom: 30px;
    }

    .main-content-service-img-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 450px;
    }

    .main-content-box-img-wrapper {
        width: 50%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .main-content-service-tab {
        line-height: 35px;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        color: #13304F;
        background: white;
        font-family: 'RSU';
        width: 20%;
        border: 0;
    }

    .main-header-text-first {
        font-size: 60px;
        color: #13304F;
        margin-right: 1%;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-second {
        font-size: 60px;
        color: #7FD0DA;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .main-header-text-content {
        font-size: 18px;
        color: #13304F;
        margin-bottom: 5px;
    }

    .main-content-service-slide-text {
        font-size: 14px;
        color: white;
        cursor: pointer;
    }

    .main-content-service-detail-header {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        overflow: hidden;
        margin-bottom: 15px;
        white-space: pre;
    }
    
    .main-content-service-detail-text {
        font-size: 19px;
        line-height: 1.3;
        color: white;
        overflow: hidden;
        white-space: pre;
    }
}



