
@media (min-width: 24em){
    .product-modal-container {
        width: 60vw;
        height: 300px;
        font-family: 'RSU';
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 64em){
    .product-modal-container {
        width: 60vw;
        height: 330px;
        font-family: 'RSU';
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 72em){
    .product-modal-container {
        width: 50vw;
        height: 400px;
        font-family: 'RSU';
        display: flex;
        flex-direction: column;
    }
}

.product-modal-header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-modal-header-text {
    font-size: 190%;
    color: #228B22;
    margin-left: 3%;
    line-height: 1.5;
}

.product-modal-content {
    width: 100%;
    height: 90%;
    font-family: 'RSU';
    display: flex;
    flex-direction: row;
}

.product-modal-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-right: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.product-modal-img {
    width: 90%;
    height: 75%;
}

.product-modal-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    justify-content: center;
}

.product-modal-logo {
    width: 55%;
    height: 15%;
}

.product-modal-logo-text {
    font-size: 190%;
    line-height: 1.5;
    font-weight: bold;
    color: #13304F;
}

.product-modal-name {
    margin-top: 10%;
    font-size: 180%;
    line-height: 1.5;
}

.product-modal-price-wrapper {
    display: flex;
    flex-direction: row;
}

.product-modal-price {
    font-size: 180%;
    line-height: 1.5;
    color: #7FD0DA;
}

.product-modal-price-tag {
    font-size: 180%;
    line-height: 1.5;
}

.product-modal-amount {
    font-size: 180%;
    line-height: 1.5;
}

.product-modal-button-group {
    width: 90%;
    height: 15%;
    font-family: 'RSU';
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
}

.product-modal-link-button {
    width: 40%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    border: 1px solid rgb(28, 203, 226);
    background: #7FD0DA;
    color: white;
    font-size: 190%;
    font-family: 'RSU';
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.product-modal-link-button:hover{
    background-color: #00BFFF;	 
}

.product-modal-link-button:active{
    background-color: #4169E1;
}

.dialog-text {
    font-size: 16px;
    color: #DC143C;
}